
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.DS_Store
frontend/*.log


backend/auth/node_modules/
backend/auth/.aws-sam/
backend/auth/samconfig.toml
backend/auth/package-lock.json


.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env.local
.env.development
.env.test
.env.production
.idea/
.vscode/
*.swp
*.swo
*.tmp
*.bak
*.cache
*.seed
*.pid
*.pid.lock
*.port
*.port.lock